.DS_Store
*.sw[nop]
.bundle
.env
db/*.sqlite3
.*\.log
.*\.rej
.*\.o
.*\.elc
.*\.pyc
.*\.class
rerun.txt
tags
!tags/
tmp/**/*
!tmp/cache/.keep
# Venv
.venv
# Backup files
*~
.*\.orig
.*\.old
.*\.bak
# Pycharm IDE Files
.idea
