[user]
    name = Kevin Ndung'u
    email = kevgathuku@users.noreply.github.com
[remote-hg]
    hg-git-compat = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = simple
[alias]
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	unpublish = !legit unpublish
	sprout = !legit sprout
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
	unstage = reset HEAD --
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[rebase]
  autosquash = true
[commit]
  template = ~/.gitmessage
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
