[user]
    name = Kevin Ndung'u
    email = kevgathuku@gmail.com
[remote-hg]
    hg-git-compat = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[push]
    default = simple
[alias]
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	unpublish = !legit unpublish
	sprout = !legit sprout
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
