[user]
	name = Kevin Ndung'u
	email = kevgathuku@gmail.com
  useconfigonly = true
	signingkey = 6F939DF9A26D46D7
[remote-hg]
  hg-git-compat = true
[core]
  editor = vim
	excludesfile = /Users/kevin/.gitignore_global
	autocrlf = input
[push]
  default = simple
[alias]
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	unpublish = !legit unpublish
	sprout = !legit sprout
	sync = !legit sync
	switch = !legit switch
	resync = !legit resync
	unstage = reset HEAD --
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	up = pull --rebase --autostash
[rebase]
	autosquash = true
[commit]
	template = ~/.gitmessage
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gpg]
	program = gpg
